/* Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind CSS */
@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-primary: #c5baff;
  --color-secondary: #c4d9ff;
  --color-tertiary: #e8f9ff;
  --color-white: #fbfbfb;
  --color-black: #212121;

  /* Font */
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-montserrat);
  }

  body {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}
